# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/doakes.iml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.claude/settings.local.json
/.idea/vcs.xml
